<main id="admin" role="main">

    <h2>admin panel</h2>

    <nav>

        <a href="/admin/add_post">add post</a>
        <a href="/admin/posts_list">blogs list</a>
        <a href="/admin/comments_list">comments list</a>
        <a href="/admin/users_list">users list</a>

    </nav>

</main>