    <h2>edit post</h2>

    <a href="/admin"><i class="fa-solid fa-hand-point-left"></i> back to admin panel</a>

    <form action="/admin/edit_post/<%= post.Id%>" method="post">

        <input type="text" name="title" value="<%= post.Title%>" >
        <textarea name="content"><%= post.Contents%></textarea>
        <input type="submit">

    </form>