<!-- <main id="usersList" role="main">

    
    <h2>Users list</h2>
    
    <a href="/admin"><i class="fa-solid fa-hand-point-left"></i> back to admin panel</a>

    <p id="msg"></p>

    <table>
        <thead>
                <th>Id</th>
                <th>Email</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Role</th>
        </thead>
        <tbody id="user-result">
            
        </tbody>
    </table>
    
 
    <script type="module" src="/js/user.js"></script>
</main> -->

<main>

    <a href="/admin/new_post">Ajouter un article</a>
    <section>
       
 
       <table id="userStatus">
       </table>
       
    </section>
 
    <script type="module" src="/js/user.js"></script>
 </main>