<main>
    <h1>Welcome to my blog</h1>

    <aside>
        <% if (session.isLogged) { %>

            <p>welcome <%= session.user.firstname %></p>

        <% } %> 

        <% if (error !== null) { %>
            <p><%= error %></p>
        <% } %>
    </aside>

    <section>
        <article>
            <h2>About me</h2>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ad
                maxime corrupti laudantium iste sunt.
            </p>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ad
                maxime corrupti laudantium iste sunt.
            </p>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ad
                maxime corrupti laudantium iste sunt.
            </p>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ad
                maxime corrupti laudantium iste sunt.
            </p>
        </article>

        <article>
            <h2>What you will find here </h2>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ad
                maxime corrupti laudantium iste sunt.
            </p>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ad
                maxime corrupti laudantium iste sunt.
            </p>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ad
                maxime corrupti laudantium iste sunt.
            </p>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ad
                maxime corrupti laudantium iste sunt.
            </p>
        </article>
    </section>
</main>
